* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  background: rgb(0, 44, 255);
  background: linear-gradient(
    157deg,
    rgba(0, 44, 255, 1) 0%,
    rgba(196, 22, 67, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  /* border: 1px solid red; */
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  box-shadow: 0px 0px 10px 0px black;
}
.card form {
    /* border: 1px solid black; */
    height: 85%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    align-items: center;
    background-color: white;

}
.form-title{
    
    width: 80%;
}
.card form h2{
    color: rgb(82, 189, 189);
   
}
.form-inputs{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}
.form-inputs input{
   width: 80%;
   height: 2.5rem;
   border: 1px solid black;
   outline: none;
}
.form-inputs input[type="button"]{
    background-color: rgb(82, 189, 189);
    border: 1px solid black;
    color: white;
}

